<ion-content class="ion-padding fondo">
  <div class="titulo-flotante">
    Crear Cuenta
    <h3>Regístrate para empezar a usar nuestro sistema!</h3>
  </div>
  <ion-card>
    <ion-item class="input-field" lines="none">
      <ion-input placeholder="Usuario" type="text" [(ngModel)]="register.usuario"></ion-input>
    </ion-item>
    <ion-item class="input-field" lines="none">
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="register.password"></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="registrar()">Registrar</ion-button>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button fill="clear" routerLink="/login">Ya tienes una cuenta?</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>