<ion-content class="ion-padding fondo">
  <div class="titulo-flotante">
    <h3>Crear Cuenta</h3>
    <h6>Regístrate para empezar a usar nuestro sistema!</h6>
  </div>

  <img src="/assets/img/city.png" class="background-vector" alt="Fondo decorativo">

  <ion-card>
    <ion-item class="input-field" lines="none">
      <ion-input placeholder="Usuario" type="text" [(ngModel)]="register.usuario"></ion-input>
      <ion-icon name="person"></ion-icon>
    </ion-item>
    <ion-item class="input-field" lines="none">
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="register.password"></ion-input>
      <ion-icon name="lock-closed"></ion-icon>
    </ion-item>
    <ion-button expand="block" shape="round" class="primary-button" (click)="registrar()">
      <ion-icon slot="start" name="person-add"></ion-icon>
      Registrar
    </ion-button>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button fill="clear" class="tertiary-button" routerLink="/login">¿Ya tienes una cuenta?</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

