<ion-card class="daily-average-card">
  <ion-card-header>
    <ion-card-title>Media Diaria</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="info-grid">
      <ion-row>
        <ion-col text-center>
          <ion-icon name="walk" size="large"></ion-icon>
          <p>{{ pasosPromedio }} Pasos</p>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="flame" size="large"></ion-icon>
          <p>{{ caloriasPromedio }} Kcal</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
