<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="progress-container">
      <ion-card-content>
        <app-daily-average></app-daily-average>
      </ion-card-content>

    <!-- Tarjeta de Racha de Metas -->
    <ion-card class="progress-card">
      <ion-card-header>
        <ion-card-title>Racha de Metas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="chart-container">
          <app-calendar-streak [streakDays]="streakDays"></app-calendar-streak>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta Resumen Semanal -->
<ion-card class="progress-card">
  <ion-card-header>
    <ion-card-title>Resumen Semanal</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <app-weekly-summary></app-weekly-summary>
  </ion-card-content>
</ion-card>

  </div> 
</ion-content>
