<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Media Diaria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <ion-icon name="walk" size="large"></ion-icon>
            <p>7,356 Pasos</p>
          </ion-col>
          <ion-col text-center>
            <ion-icon name="flame" size="large"></ion-icon>
            <p>542 Kcal</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Aquí va a ir un gráfico, como una barra de progreso o gráfico de barras -->
      <ion-card-header>
        <ion-card-title>Aquí irá un gráfico</ion-card-title>
      </ion-card-header>
      <div class="chart-container">
        <canvas id="barChart"></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen Semanal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Lun</ion-label>
            <div class="bar"></div>
          </ion-col>
          <ion-col>
            <ion-label>Mar</ion-label>
            <div class="bar"></div>
          </ion-col>
          <ion-col>
            <ion-label>Mie</ion-label>
            <div class="bar"></div>
          </ion-col>
          <ion-col>
            <ion-label>Jue</ion-label>
            <div class="bar"></div>
          </ion-col>
          <ion-col>
            <ion-label>Vie</ion-label>
            <div class="bar"></div>
          </ion-col>
          <ion-col>
            <ion-label>Sab</ion-label>
            <div class="bar"></div>
          </ion-col>
          <ion-col>
            <ion-label>Dom</ion-label>
            <div class="bar"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-app>
  <ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="botonHome()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Hoy</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="informe" (click)="botonInforme()">
          <ion-icon name="bar-chart"></ion-icon>
          <ion-label>Reporte</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="logros" (click)="botonLogros()">
          <ion-icon name="trophy"></ion-icon>
          <ion-label>Logros</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="more" (click)="abrirMenu()">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
          <ion-label>Más</ion-label>
        </ion-tab-button>        
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>
