/* Estilo del ion-toolbar */
ion-toolbar {
  --background: linear-gradient(90deg, #262431, #33303f);
  --color: #ffbf6b;
  height: 56px;
}

/* Fondo del ion-content */
ion-content {
  --background: #2f2c3d;
}

/* Contenedor principal */
.progress-container {
  text-align: center;
  padding: 10px;
  background-color: #2f2c3d;
  max-width: 100%;
  margin: 0 auto;
}

/* Estilo del ion-card */
.progress-card {
  --background: #1f1d28;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: 90%;
  max-width: 400px;
}

.progress-card ion-card-header {
  color: #ffbf6b;
}

.progress-card ion-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffbf6b;
}

.progress-card ion-card-content {
  padding: 10px;
}

/* Estilo del ion-grid */
.info-grid {
  padding: 0 10px;
  margin-top: 10px;
}

ion-row {
  flex-wrap: nowrap;
  justify-content: space-around;
}

ion-col {
  background-color: #1f1d28;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-col ion-icon {
  color: #ffbf6b;
  margin-bottom: 5px;
  font-size: 24px;
}

ion-col p {
  margin: 0;
  font-size: 14px;
  color: #E1E1E2;
  font-weight: bold;
}

/* Gráfico */
.chart-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 10px;
}
