.fondo {
    --background: linear-gradient(180deg, #ffbe69 0%, #ffbf6b 50%, #437ecb 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 100vh;
    padding: 20px;
    position: relative;
    overflow: hidden; 
}


.titulo-flotante {
    margin-top: 10%;
    position: relative;
    text-align: center;
    z-index: 10;
    margin-bottom: 20px; 
}

.titulo-flotante h3 {
    font-size: 24px;
    font-weight: bold;
    color: #473968; 
    margin: 0;
}

.titulo-flotante h6 {
    font-size: 16px;
    color: #473968; 
    margin-top: 5px;
    text-shadow: #e0a12c; 
}

.background-vector {
    position: fixed; 
    bottom: 22.5%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 120%; 
    max-width: 600px; 
    z-index: 1; 
    pointer-events: none; 
}

ion-card {
    background-color: rgba(14, 51, 101, 0.844);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 350px;
    max-width: 400px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.input-field {
    margin-bottom: 5px;
    position: relative;
    --background: transparent;
    --border-color: transparent;
    --placeholder-color: #c0d0e0;
}

.input-field ion-icon {
    position: absolute;
    right: 10%; 
    top: 50%;
    transform: translateY(-50%);
    color: #ffffffba; 
    font-size: 20px; 
    pointer-events: none; 
}


ion-input {
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.05); 
    border: 1px solid #ffffff;
    box-shadow: none;
    --placeholder-color: rgba(255, 255, 255, 0.6); 
    padding: 8px;
    --padding-start: 15px;
}

ion-row {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}


ion-button.primary-button {
    --background: linear-gradient(90deg, #ffbe69, #ffbf6b);
    --background-activated: linear-gradient(90deg, #ffbf6b, #ffbe69);
    --border-radius: 15px;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    --color: #452e7b; 
    padding: 5px 20px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}


ion-button.secondary-button {
    --color: #ffffff;
    --padding-start: 0;
    --padding-end: 0;
    font-size: 10px;
    opacity: 0.7; 
    text-decoration: none;
}


ion-button.tertiary-button {
    --background: none;
    --color: #ffbe69; 
    --border-radius: 0; 
    --padding-start: 0;
    --padding-end: 0;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline; 
}

