<ion-content class="ion-padding fondo">
  <div class="titulo-flotante">
    Iniciar Sesión
    <h3>Para usar nuestro sistema de logros y marcapasos necesitas tener una cuenta!</h3>
  </div>
  <ion-card>
    <ion-item class="input-field" lines="none">
      <ion-input placeholder="Usuario" type="text" [(ngModel)]="login.usuario"></ion-input>
    </ion-item>
    <ion-item class="input-field" lines="none">
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="login.password"></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="ingresar()">Entrar</ion-button>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button fill="clear">Olvidaste la contraseña?</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear">Crear cuenta</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
