<ion-app>
  <ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="boton1">
          <ion-icon name="play-circle"></ion-icon>
          <ion-label>Hoy</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="informe" (click)="boton2">
          <ion-icon name="bar-chart"></ion-icon>
          <ion-label>Informe</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="logros" (click)="boton3">
          <ion-icon name="flame"></ion-icon>
          <ion-label>Logros</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="more">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
          <ion-label>Más</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>
