<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hoy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="progress-container">
    <ion-card>
      <ion-card-content>
        <div class="circle-container">
          <div class="circle-text">2986</div>
        </div>
        <ion-button expand="block" color="primary" shape="round">Pausa</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-icon name="walk" size="large"></ion-icon>
          <p>1.86 Milla</p>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="flame" size="large"></ion-icon>
          <p>162 Kcal</p>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="time" size="large"></ion-icon>
          <p>00:26 Tiempo</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


