<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Logros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="crud-actions">
    <ion-icon name="add-circle-outline" (click)="abrirFormularioLogro()" title="Agregar Logro"></ion-icon>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let logro of logros">
        <ion-card [ngClass]="{ 'unlocked': logro.estado === 1, 'locked': logro.estado === 0 }">
          <ion-card-header>

            <ion-icon [name]="logro.estado === 1 ? 'trophy-outline' : 'lock-closed-outline'"></ion-icon>
            <ion-card-title>{{ logro.nombre_logro }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Objetivo: <br> {{ logro.objetivo }} {{ logro.tipo }}</p>
          </ion-card-content>
          <div class="crud-icons">
            <ion-icon name="create-outline" (click)="editarLogro(logro)" title="Editar Logro"></ion-icon>
            <ion-icon name="trash-outline" (click)="eliminarLogro(logro.id)" title="Eliminar Logro"></ion-icon>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
