<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Logros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" text-center>
        <ion-card>
          <ion-card-header>
            <ion-label>1000 Pasos</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="trophy" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" text-center>
        <ion-card>
          <ion-card-header>
            <ion-label>5000 Pasos</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="trophy" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-app>
  <ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="botonHome()">
          <ion-icon name="play-circle"></ion-icon>
          <ion-label>Hoy</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="informe" (click)="botonInforme()">
          <ion-icon name="bar-chart"></ion-icon>
          <ion-label>Reporte</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="logros" (click)="botonLogros()">
          <ion-icon name="flame"></ion-icon>
          <ion-label>Logros</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="more">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
          <ion-label>Más</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>
