<ion-header>
  <ion-toolbar>
    <ion-title>404 - Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-404">
  <div class="error-container">
    <ion-icon name="construct-outline"></ion-icon>
    <h1>En proceso...!</h1>
    <p>La página que estás buscando está en construcción.</p>
    <p>¡Vuelve pronto para la siguiente actualización!</p>
    
    <ion-button routerLink="/home" expand="block" class="return-home-button">
      Volver a la página de inicio
    </ion-button>
  </div>
</ion-content>


