<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input placeholder="Ingresa tu correo" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button class="enviar-button" expand="block" shape="round" (click)="enviarCorreo()">Enviar</ion-button>
  </ion-list>
</ion-content>
