<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Pestaña para la página Home -->
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Hoy</ion-label>
    </ion-tab-button>

    <!-- Pestaña para la página Informe -->
    <ion-tab-button tab="informe">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Reporte</ion-label>
    </ion-tab-button>

    <!-- Pestaña para la página Logros -->
    <ion-tab-button tab="logros">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Logros</ion-label>
    </ion-tab-button>

    <!-- Botón para más opciones -->
    <ion-tab-button (click)="abrirMenu()">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>    
  </ion-tab-bar>

</ion-tabs>
