<ion-app>
  <ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button tab="home" (click)="botonHome()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Hoy</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="informe" (click)="botonInforme()">
          <ion-icon name="bar-chart"></ion-icon>
          <ion-label>Reporte</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="logros" (click)="botonLogros()">
          <ion-icon name="trophy"></ion-icon>
          <ion-label>Logros</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="more" (click)="abrirMenu()">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
          <ion-label>Más</ion-label>
        </ion-tab-button> 
        
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>
